<mat-card>
  <img mat-card-image [src]="(mainImg ? mainImg : defaultImg)"
                      style="height: 280px; border-radius: 5px 5px 0 0">
  <mat-tab-group>
    <mat-tab label="Diving">
      <mat-card class="place" *ngFor="let place of places | placesFilter:types[0]"
                (click)="sendMessage(place)">
        <img [src]="place.img">
        <mat-card-title>Place info</mat-card-title>
        <mat-card-subtitle>{{ place.address }}</mat-card-subtitle>
        <mat-card-subtitle style="color: darkslategray">
          {{ place.phone | phone }}
        </mat-card-subtitle>
      </mat-card>
    </mat-tab>
    <mat-tab label="Walking">
      <mat-card class="place" *ngFor="let place of places | placesFilter:types[1]"
                (click)="sendMessage(place)">
        <img [src]="place.img">
        <mat-card-title>Place info</mat-card-title>
        <mat-card-subtitle>{{ place.address }}</mat-card-subtitle>
        <mat-card-subtitle style="color: darkslategray">
          {{ place.phone | phone }}
        </mat-card-subtitle>
      </mat-card>
    </mat-tab>
    <mat-tab label="Eating">
      <mat-card class="place" *ngFor="let place of places | placesFilter:types[2]"
                (click)="sendMessage(place)">
        <img [src]="place.img">
        <mat-card-title>Place info</mat-card-title>
        <mat-card-subtitle>{{ place.address }}</mat-card-subtitle>
        <mat-card-subtitle style="color: darkslategray">
          {{ place.phone | phone }}
        </mat-card-subtitle>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</mat-card>

