<mat-card>
  <mat-card-title>{{ place ? place.address : 'Weather'}}</mat-card-title>
  <hr>
  <mat-card-content *ngIf="place; else noWeather">
    <mat-icon [svgIcon]="place.weather.title.toLowerCase()"></mat-icon>
    <h1>{{ place.weather.temperature }}&#8451;</h1>
  </mat-card-content>
  <ng-template #noWeather>
    <mat-card-title>No weather here</mat-card-title>
    <p>Choose location, please</p>
  </ng-template>
  <mat-card-footer *ngIf="place">
    <h3>Water {{ place.weather.water !== null ? place.weather.water + '&#8451;' : ' is absent :(' }}</h3>
  </mat-card-footer>
</mat-card>
