<mat-card class="col-md-4 col-sm-8 col-md-offset-4 col-sm-offset-2">
  <mat-card-content>
    <div class="col-md-12">
      <form class="form-horizontal" role="form" [formGroup]="signUpForm">
        <div class="form-group">
          <input type="email" class="form-control" formControlName="email" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="name" placeholder="Your name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="login" placeholder="Login">
        </div>
        <div formGroupName="passwordGroup">
          <div class="form-group">
            <input type="password" class="form-control" formControlName="password" placeholder="Password">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" formControlName="checkPass" placeholder="Repeat password">
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-block" mat-raised-button color="primary"
                  [disabled]="!signUpForm.valid"
                  (click)="addUser(signUpForm.value)">
            Subscribe</button>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>

<pre class="col-md-6">{{signUpForm.value | json}}</pre>

<pre class="col-md-6">{{signUpForm.valid}}</pre>
